  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: '#fff';
    background-color: #F2F2F2;
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  }
  a {
    text-decoration: none !important;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* [type=button]{
    -webkit-appearance: none !important;
  } */

body {
  background: #f8f8f8;
}

/* HOME */

.title-logo {
  font-family: 'Lobster', cursive;
  color: #A64D78;
}

.btn-primary {
  background: #f8d966;
  color: #000000;
  border: 1px solid #f8d966;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover {
  background: #f8d966;
  color: #000000;
  border: 5px solid #FAE599
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #FAE599;
  
}

.vh-80 {
  height: 80vh;
}

.maxh-40vh {
  max-height: 30vh;
}