
/* global */

body {
  background: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}

.title-logo {
  font-family: 'Paytone One', sans-serif;
  color: #A64D78;
  /* font-size: 2.8rem; */
}

.title {
  color: #A64D78;
  font-family: 'Righteous', cursive;
  font-weight: bold;
}

.title-yellow {
  color: #f1c131;
}

.title-green {
  color: #3AAA6F;
}

/* Nav bg-color: #CDD2E1*/



/* HOME */

.btn-warning {
  /*f1c131*/
  background: #f8d966;
  border: 1px solid #f8d966;
}

.btn-success {
  background-color: #689F38;
  border: 1px solid #689F38;
}

.btn-next {
  background-color: #A64D78;
  color: #ffffff;
}

.btn-next:hover {
  color: #ffffff;
  border: 3.5px solid #c79ab0
}

.vh-80 {
  height: 80vh;
}

.maxh-40vh {
  max-height: 25vh;
}